body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: white;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 2em;
    color: white;
    border: 5px solid white;
}

/* Entfernt die äußeren Kanten der Tabelle */
tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}